<div class="app">
  <div class="appHead">
    <i class="fas fa-democrat"></i>
    <h1>CHAT-APP</h1>
  </div>
  <div class="appBody">
    <div class="form">
      <div class="formContainer">
        <div class="inputContainer upper">
          <input name="email" type="email" placeholder="EMAIL">
          <input name="password" type="password" placeholder="PASSWORD">
          <button class="submitBtn getinBtn" type="button">GET-IN</button>
        </div>
        <button class="dirBtn" type="button">
          <i class="fas fa-arrow-alt-circle-up"></i>
        </button>
        <div class="inputContainer lower">
          <input name="name" type="text" placeholder="NAME">
          <input name="surname" type="text" placeholder="SURNAME">
          <input name="email" type="email" placeholder="EMAIL">
          <input name="password" type="password" placeholder="PASSWORD">
          <button class="submitBtn addmeBtn" type="button">ADD-ME</button>
        </div>
      </div>
    </div>
  </div>
</div>