<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="stylesheet" href="/{{STATIC}}.css">
  <style>
    *{
      margin: 0px; padding: 0px;
      border: 0px; font-family: Calibri;
    }
    input:focus, button:focus, textarea:focus{outline: none}
    .app{
      box-sizing: border-box;
      max-width: 720px; height: 100vh;
      padding: 0 15px; margin: 0 auto;
    }
  </style>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.dev.js"></script>
  <script src="/moment.js"></script>
</head>
<body>
  {{{body}}}
  <script src="/{{STATIC}}.js"></script>
</body>
</html>