<div class="app">
  <div class="appHead">
    <div class="logo">
      <i class="fas fa-democrat"></i>
      <h4>CHAT-APP</h4>
    </div>
    <div class="sidenav">
      <p>NEERAJ V.</p>
      <h2>NV</h2>
      <p>SIGN-OUT</p>
    </div>
  </div>
  <div class="appBody">
    <div class="appBcontainer">
      <div class="appBUp">
      </div>
      <div class="appBLow">
        <textarea class="mssgArea" placeholder="ur mssg..."></textarea>
        <button class="forwardBtn" type="button">
          <i class="fas fa-democrat"></i>
        </button>
      </div>
    </div>
  </div>
</div>